body {
  background-color: #B0E0E6;
  padding: 10px
}
h1 {
  font-size : 30px;
}
h2 {
  font-size: 25px;
  font-family: 'Finger Paint'; color: #17ACFD;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 15px;
}
td, tr {
  padding-right: 15px;
  padding-top: 10px;
}
* {
    box-sizing: border-box;
}
.header {
  background-color: #FFFF99;
  text-align: center;
  font-size: 40px;
  font-family: 'Princess Sofia';
  padding: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #78F8A3;
  font-family: 'Finger Paint';
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #CD0000;
  color: #FFFFFF;
  font-family: 'Finger Paint';
}
.leftcolumn {
  float: left;
  width: 75%;
  font-family: 'Sunflower'; color: #944694;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  font-family: 'Sunflower'; color: #944694;
}
.card {
  background-color: #FFFF99;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background-color: #FFFF99;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
